@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: 244, 243, 248;
  --pink: 220, 1, 85, 1;
  --font-color: 51, 51, 51;
}

body {
  background: rgb(var(--backgroud-color))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  height: 120px;
}

.color-pink {
  color: rgba(var(--pink));
}

.logo {
  font-size: 36px;
  height: 54px;
  width: 82px;
  line-height: 54px;
  color: rgba(var(--pink));
}

.elipse1 {
  width: 404px;
  height: 376.41px;
  top: 0;
  left: 0;
  z-index: -1;
}

.elipse2 {
  width: 720px;
  height: 381.41px;
  top: 566.92px;
  left: 1138.78px;
  z-index: -1;
}

.elipse3 {
  z-index: -1;
}

.nav-list {
  width: 499px;
  height: 27px;
}

.text-color {
  color: rgb(var(--font-color));
}

.upper-section {
  height: 448px;
}

.main-text-container {
  width: 784px;
  height: 448px;
}

.main-text {
  font-size: 120px;
  line-height: 120px;
  height: 240px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.contact-button {
  background-color: rgba(var(--pink));
  width: 180px;
  height: 60px;
  border-radius: 32px;
  color: rgb(var(--backgroud-color));
  margin-top: 48px;
}

.main-image {
  min-height: 639px;
}