@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: 244, 243, 248;
  --pink: 220, 1, 85, 1
}

body {
  background: rgb(var(--backgroud-color))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  height: 120px;
}

.logo {
  font-size: 36px;
  height: 54px;
  width: 82px;
  line-height: 54px;
  color: rgba(var(--pink));
}

.elipse1 {
  width: 404px;
  height: 376.41px;
}

.elipse2 {}

.elipse3 {}
